@import 'colors', 'fonts', 'typography';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width:100vw;
    height: 100vh;
    background-color: $background-color;
}


.cards-container{
    margin : auto;
    display: flex;
    width : 65vw;
    height: 100vh;
    align-items: center;
}

.card-prev{
    padding: 4rem 3rem;
    font-size: $body-font-size;
    font-family: $body-font;
    color: $text-color;
    &__heading{
        color: $background-color;
        font-family: $title-font;
        text-transform: uppercase;
        padding: 2rem 0rem;
        font-size: 3rem;
    }
    &__text{
        padding : 0rem 0rem 8rem 0rem;
        line-height: 1.8em;
    }
    &--Sedans{
        background-color: $sedans-color;
        border: transparent;
        border-radius : 1rem 0rem 0rem 1rem
    }
    &--SUVs{
        background-color: $suvs-color;
    }
    &--Luxury{
        background-color: $luxury-color;
        border-radius : 0rem 1rem 1rem 0rem

    }
    &__button{
        text-decoration: none;
        color: $background-color;
        border: 2px solid $background-color;
        border-radius: 2rem ;
        padding: 1rem 2rem;
    }
}